.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  min-height: 65vh;
}

.Status {
  display: flex;
  padding-left: 50px;
}

.Status-text {
  padding-right: 5px;
  color: white;
}

.Status-indicator {
  color: green
}

.App-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Nav-button {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
