.App {
  text-align: center;
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Nav-button {
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}
